body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #FFC300;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.HomeIcon {
  position: fixed;
  right: 2%;
  top: 5%;
  font-size: x-large;
  color: white;
  cursor: pointer;
}

.HomeIcon:hover{
  text-shadow: white 2px 2px 0px;
  transition: 0.5s;
}

.HomeIcon a {
  color: white;
  text-decoration: none;
}

.backIcon {
  position: fixed;
  left: 2%;
  top: 6%;
  font-size: x-large;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.backIcon:hover{
  text-shadow: white 2px 2px 0px;
  transition: 0.5s;
}

.BasicInfo {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.BasicInfoTxt {
  flex: 2;
  text-align: center;
  font-style: italic;
  margin: 5px;
  color: #888;
}

.BasicInfoImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  margin: 5px;
}

.SportsInfo {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.SportsInfoTxt {
  flex: 2;
  text-align: center;
  font-style: italic;
  margin: 5px;
  color: #888;
}

.SportsInfoImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  margin: 5px;
}

.MeImg {
  width: 80%;
  border-radius: 20%;
}

@media (max-width: 768px) {
  .BasicInfo {
    flex-direction: column;
    align-items: center;
  }

  .BasicInfoImg, .BasicInfoTxt {
    flex: 1;
    width: 90%;
  }

  .MeImg {
    width: 100%;
    max-width: 300px;
  }

  .SportsInfo {
    flex-direction: column;
    align-items: center;
  }

  .SportsInfoImg, .SportsInfoTxt {
    flex: 1;
    width: 90%;
  }

  .MeImg {
    width: 100%;
    max-width: 300px;
  }

  .conclusion{
    color:bisque;
    font-style: cursive;
  }

}

.MeImg2 {
  width: 100%;
  max-width:500px;
  margin-top: 4%;
  margin-bottom: 3%;
}


.firstLine, .secLine{
  background-color: white;
  height: 1px;
  width: 100%;
}

.conclusion{
  color:bisque;
  font-style: cursive;
}

.icons{
  display: flex;
  justify-content: center;
  gap: 10%;
}

.icons a{
  color: white;
  font-size: x-large;
  transition: 0.5s ease;
  cursor: pointer;
}

.icons a:hover{
  transform: scale(1.2);
}