body {
    margin: 0;
    padding: 0;
    background: #333;
    color: #FFC300;
    font-family: cursive;
    text-align: center;
  }
  
  h1 {
    margin: 20px 0;
  }
  
  .HomeIcon {
    position: fixed;
    right: 2%;
    top: 5%;
    font-size: x-large;
    color: white;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
  }
  
  .HomeIcon:hover{
    text-shadow: white 2px 2px 0px;
    transition: 0.5s;
  }
  
  .HomeIcon a {
    color: white;
    text-decoration: none;
  }
  
  .backIcon {
    position: fixed;
    left: 2%;
    top: 5%;
    font-size: x-large;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
  }
  
  .backIcon:hover{
    text-shadow: white 2px 2px 0px;
    transition: 0.5s;
  }
  
  .docs{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 30%;
  }

  .cv, .cct{
    width: 30%;
    aspect-ratio: 1/1;
    text-align: center;
    border: solid #444 2px;
    border-radius:30%;
    color: #666;
    box-shadow: #555 0 0 0 2px;
  }

  .cct img, .cv img{
    max-width:75%;
    border-radius: 30%;
    cursor: pointer;
  }

  .cct img:hover, .cv img:hover{
    max-width:80%;
    transition: 0.5s;
  }
  
.skills{
  color:#f6d464;
  display: flex;
  align-items:center ;
  justify-content: space-around;
}

#react, #cpp, #html, #css, #js, #c{
    font-size: 2rem;
    color: #f0efef;
}

.skillsTxt{
  text-align: start;
  color: #999;
}

.toolsTxt{
  text-align: start;
  color: #999;
}

.tools {
  color:#f0efef;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  flex-wrap: wrap;
}
.tools span {
  margin: 1%;
  transition: transform 0.3s ease;
}
.tools span:hover {
  transform: scale(1.2);
}
#git, #github, #latex, #notebook, #vsc, #My-SQL, #linkedin {
  font-size: 2rem;
  color:#f0efef;
}
.skills span{
  margin: 1%;
  transition: transform 0.3s ease;
}

.skills span:hover{
  transform: scale(1.2);
}

.goto{
  width: 15%;
  background-color: #444;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2%;
  top: 13%;
  height: 20%;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.goto1, .goto2, .goto3, .goto4{
  width: 100%;
  height: 25%;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.goto1:hover, .goto2:hover, .goto3:hover, .goto4:hover{
  background-color: #555;
  color: white;
}