body {
    margin: 0;
    padding: 0;
    background: #333;
    color: #FFC300;
    font-family: cursive;
    text-align: center;
  }
  
  h1 {
    margin: 20px 0;
  }
  
  .HomeIcon {
    position: fixed;
    right: 2%;
    top: 5%;
    font-size: x-large;
    color: white;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
  }
  
  .HomeIcon:hover{
    text-shadow: white 2px 2px 0px;
    transition: 0.5s;
  }
  
  .HomeIcon a {
    color: white;
    text-decoration: none;
  }
  
  .backIcon {
    position: fixed;
    left: 2%;
    top: 5%;
    font-size: x-large;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
  }
  
  .backIcon:hover{
    text-shadow: white 2px 2px 0px;
    transition: 0.5s;
  }
  
  .docs{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 30%;
  }

  .cv, .cct{
    width: 30%;
    aspect-ratio: 1/1;
    text-align: center;
    border: solid white 2px;
    border-radius:30%;
    color: #666;
  }

  .cct img, .cv img{
    max-width:75%;
    border-radius: 30%;
    cursor: pointer;
  }

  .cct img:hover, .cv img:hover{
    max-width:80%;
    transition: 0.5s;
  }
  
.skills{
  color:#f6d464;
  display: flex;
  align-items:center ;
  justify-content: space-around;
}
  


  