body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #FFC300;
  font-family: cursive;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.HomeIcon {
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: xx-large;
}

.HomeIcon a {
  color: white;
  text-decoration: none;
}

.project {
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
  background-color: #444;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.project img {
  width: 150px;
  height: 80px;
  border-radius: 15px;
  margin: 10px 0;
}

.cool-button {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 10px;
}

.cool-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .project {
      display: inline-block;
      margin: 20px;
      vertical-align: top;
  }
}
